<div class="container">
    <h2>Detalle</h2>
    <div class="card">

        <ng-container *ngIf="compra">
            <dl>
                <dt>Fecha</dt>
                <dd>{{ compra.fecha | date: 'dd/MM/yyyy' }}</dd>
                <dt>Proveedor</dt>
                <dd>{{ compra.proveedor.razonSocial }}</dd>
            </dl>

            <ngx-datatable [columnMode]="'force'" [count]="compra.comprasItems.length" [externalPaging]="true"
                           [externalSorting]="true"
                           [footerHeight]="50" [headerHeight]="50" [limit]="page.size"
                           [offset]="page.offset" [rows]="compra.comprasItems" class="material striped"
                           rowHeight="auto">

                <ngx-datatable-column [sortable]="false" name="Producto"
                                      prop="producto.descripcion"></ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name="Cantidad" prop="cantidad"></ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name="Precio" prop="precio"></ngx-datatable-column>

            </ngx-datatable>
        </ng-container>

        <div class="button-form">
            <button (click)="previousState()" class="btn btn-secondary" title="Volver" type="button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;Volver
            </button>
        </div>
    </div>
</div>
