<div class="container">

  <form name="myForm" role="form" novalidate (ngSubmit)="login()" [formGroup]="myForm" >

    <h2>Iniciar Sesion</h2>
    <div class="card col-lg-4">
      <div class="form-group">
        <label class="form-control-label required" for="usuario">Usuario</label>
        <input type="text" class="form-control" name="usuario" id="usuario"
               formControlName="usuario" />

      </div>
      <div class="form-group">
        <label class="form-control-label required" for="clave">Contraseña</label>
        <input type="password" class="form-control" name="clave" id="clave"
               formControlName="clave" />
        <div
          *ngIf="mensaje">
          <small class="form-text text-danger">
            {{mensaje}}
          </small>
        </div>
      </div>
      <div class="button-form mt-4">
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary"  title="Confirmar">
          &nbsp;Confirmar
        </button>
      </div>
    </div>
  </form>

</div>
