<div class="bg">
    <div class="form-public">


        <div class="card text-light bg-secondary mt-5">
            <div class="card-header bg-secondary">
                <h2>Iniciar Sesión</h2>
            </div>
            <div class="card-body">
                <form (ngSubmit)="login()" [formGroup]="myForm" name="myForm" novalidate role="form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-control-label required" for="usuario">Usuario</label>
                                <input class="form-control" formControlName="usuario" id="usuario" name="usuario"
                                       type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-control-label required" for="clave">Contraseña</label>
                                <input class="form-control" formControlName="clave" id="clave" name="clave"
                                       type="password"/>
                                <div
                                        *ngIf="mensaje">
                                    <small class="form-text text-danger">
                                        {{mensaje}}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-form mt-4">
                        <button [disabled]="!myForm.valid" class="btn btn-primary" title="Confirmar" type="submit">
                            &nbsp;Confirmar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


