<div class="container">
    <form (ngSubmit)="save()" [formGroup]="myForm" name="myForm" novalidate role="form">
        <h2>Crear Proveedor</h2>
        <div class="card">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label required" for="razonSocial">Razón Social</label>
                        <input class="form-control" formControlName="razonSocial" id="razonSocial" name="razonSocial"
                            type="text" />
                        <div
                            *ngIf="myForm.get('razonSocial')!.invalid && (myForm.get('razonSocial')!.dirty || myForm.get('razonSocial')!.touched)">
                            <small *ngIf="myForm.get('razonSocial')?.errors?.required" class="form-text text-danger">
                                El campo es requerido.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label required" for="cuitDni">CUIT/DNI (Solo números)</label>
                        <input class="form-control" formControlName="cuitDni" id="cuitDni" name="cuitDni" type="text" />
                        <div
                            *ngIf="myForm.get('cuitDni')!.invalid && (myForm.get('cuitDni')!.dirty || myForm.get('cuitDni')!.touched)">
                            <small *ngIf="myForm.get('cuitDni')?.errors?.required" class="form-text text-danger">
                                El campo es requerido.
                            </small>
                            <small *ngIf="myForm.get('cuitDni')?.errors?.minlength" class="form-text text-danger">
                                Debe ingresar entre 8 y 11 dígitos.
                            </small>
                            <small *ngIf="myForm.get('cuitDni')?.errors?.maxlength" class="form-text text-danger">
                                Debe ingresar entre 8 y 11 dígitos.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="telefono">Teléfono</label>
                        <input class="form-control" formControlName="telefono" id="telefono" name="telefono"
                            type="text" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="email">Email</label>
                        <input class="form-control" formControlName="email" id="email" name="email" type="email" />
                    </div>
                </div>
            </div>

            <div class="button-form">
                <button (click)="cancel()" class="btn btn-secondary" title="Cancelar" type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;Cancelar
                </button>
                <button [disabled]="myForm.invalid" class="btn btn-primary" title="Guardar" type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;Guardar
                </button>
            </div>
        </div>
    </form>
</div>