<div class="container">
    <form name="myForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="myForm">
        <h2>Crear Proveedor</h2>
        <div class="card">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label required" for="razonSocial">Razón Social</label>
                        <input type="text" class="form-control" name="razonSocial" id="razonSocial"
                            formControlName="razonSocial" />
                        <div
                            *ngIf="myForm.get('razonSocial')!.invalid && (myForm.get('razonSocial')!.dirty || myForm.get('razonSocial')!.touched)">
                            <small class="form-text text-danger" *ngIf="myForm.get('razonSocial')?.errors?.required">
                                El campo es requerido.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label required" for="cuitDni">CUIT/DNI (Solo números)</label>
                        <input type="text" class="form-control" name="cuitDni" id="cuitDni"
                            formControlName="cuitDni"/>
                        <div
                            *ngIf="myForm.get('cuitDni')!.invalid && (myForm.get('cuitDni')!.dirty || myForm.get('cuitDni')!.touched)">
                            <small class="form-text text-danger" *ngIf="myForm.get('cuitDni')?.errors?.required">
                                El campo es requerido.
                            </small>
                            <small class="form-text text-danger" *ngIf="myForm.get('cuitDni')?.errors?.minlength">
                                Debe ingresar entre 8 y 11 dígitos.
                            </small>
                            <small class="form-text text-danger" *ngIf="myForm.get('cuitDni')?.errors?.maxlength">
                                Debe ingresar entre 8 y 11 dígitos.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="telefono">Teléfono</label>
                        <input type="text" class="form-control" name="telefono" id="telefono"
                            formControlName="telefono" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email"
                            formControlName="email" />
                    </div>
                </div>
            </div>

            <div class="button-form mt-4">
                <button type="button" class="btn btn-secondary" (click)="cancel()" title="Cancelar">
                    <fa-icon icon="ban"></fa-icon>&nbsp;Cancelar
                </button>
                <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary" title="Guardar">
                    <fa-icon icon="save"></fa-icon>&nbsp;Guardar
                </button>
            </div>
        </div>
    </form>
</div>