<div class="container">
    <h2>Detalle</h2>
    <div class="card">

        <ng-container *ngIf="venta">
            <dl>
                <dt>Fecha</dt>
                <dd>{{ venta.fecha | date: 'dd/MM/yyyy' }}</dd>
                <dt>Cliente</dt>
                <dd>{{ venta.cliente.apellido }} {{ venta.cliente.nombre }} ({{ venta.cliente.dni }})</dd>
            </dl>

            <ngx-datatable [columnMode]="'force'" [count]="venta.ventasItems.length" [externalPaging]="true"
                           [externalSorting]="true"
                           [footerHeight]="50" [headerHeight]="50" [limit]="page.size"
                           [offset]="page.offset" [rows]="venta.ventasItems" class="material striped"
                           rowHeight="auto">

                <ngx-datatable-column [sortable]="false" name="Producto"
                                      prop="producto.descripcion"></ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name="Cantidad" prop="cantidad"></ngx-datatable-column>
                <ngx-datatable-column [sortable]="false" name="Precio" prop="precio"></ngx-datatable-column>

            </ngx-datatable>
        </ng-container>

        <div class="button-form">
            <button (click)="previousState()" class="btn btn-secondary" title="Volver" type="button">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;Volver
            </button>
        </div>
    </div>
</div>
