<div class="container">
    <h2>
        <button [routerLink]="['new']" class="btn btn-primary btn-icon" title="Ventar" type="button">
            <fa-icon icon="plus"></fa-icon>
        </button>
        Ventas
    </h2>

    <div class="card">
        <form (ngSubmit)="onFilter()" [formGroup]="myForm" class="form-filter" name="myForm" novalidate role="form">
            <fa-icon (click)="collapsedFilter = !collapsedFilter" *ngIf="collapsedFilter" class="pointer filter-icon"
                     icon="chevron-up">
            </fa-icon>
            <fa-icon (click)="collapsedFilter = !collapsedFilter" *ngIf="!collapsedFilter" class="pointer filter-icon"
                     icon="chevron-down">
            </fa-icon>

            <ng-container *ngIf="!collapsedFilter">
                <div class="row">
                    <div class="col-lg-3">
                        <label class="form-label" for="clienteId">Cliente</label>
                        <select class="form-control" formControlName="clienteId" id="clienteId" name="clienteId"
                                type="text">
                            <option [ngValue]="null">Seleccione</option>
                            <option *ngFor="let cliente of clientes"
                                    [value]="cliente.dni">{{cliente.apellido}} {{cliente.nombre}}
                                ({{cliente.dni}})
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-label" for="desde">Desde</label>
                        <input class="form-control" formControlName="desde" id="desde" name="desde" type="date"/>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-label" for="clienteId">Hasta</label>
                        <input class="form-control" formControlName="hasta" id="hasta" name="hasta" type="date"/>
                    </div>
                </div>
                <div class="button-form-filter">
                    <button (click)="clearFilter()" class="btn btn-secondary" title="Limpiar" type="button">
                        <fa-icon icon="broom"></fa-icon>&nbsp;Limpiar
                    </button>
                    <button [disabled]="loading" class="btn btn-primary" title="Filtrar" type="submit">
                        <fa-icon icon="filter"></fa-icon>&nbsp;Filtrar
                    </button>
                </div>

            </ng-container>

        </form>
    </div>

    <ngx-datatable (page)="setPage($event)" (sort)="onSort($event)" [columnMode]="'force'" [count]="page.totalElements"
                   [externalPaging]="true"
                   [externalSorting]="true" [footerHeight]="50" [headerHeight]="50" [limit]="page.size"
                   [loadingIndicator]="loading" [offset]="page.offset" [rows]="rows" class="material striped"
                   rowHeight="auto">

        <ngx-datatable-column name="Fecha" prop="fecha">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date: 'dd/MM/yyyy'}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Cliente" prop="cliente.apellido">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.cliente.apellido}} {{row.cliente.nombre}} ({{row.cliente.dni}})
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" name="Monto" prop="ventasItems">
            <ng-template let-value="value" ngx-datatable-cell-template>
                ${{calculateMonto(value)}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [cellClass]="'column-actions'" [sortable]="false" name="" prop="id">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <button [routerLink]="['./', value, 'view']" class="btn btn-primary" title="Ver" type="button">
                    <fa-icon icon="eye"></fa-icon>
                </button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
