<div class="container" >

  <form name="myForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="myForm" >

    <h2>Cambiar Contraseña</h2>
    <div class="card col-lg-4">
      <div class="form-group">
        <label class="form-control-label required" for="claveVieja">Contraseña anterior</label>
        <input type="password" class="form-control" name="claveVieja" id="claveVieja"
               formControlName="claveVieja" />
      </div>
      <div class="form-group">
        <label class="form-control-label required" for="claveNueva">Contraseña Nueva</label>
        <input type="password" class="form-control" name="claveNueva" id="claveNueva"
               formControlName="claveNueva" />
      </div>

      <div class="form-group">
        <label class="form-control-label required" for="claveNuevaRepetida">Repita Contraseña Nueva</label>
        <input type="password" class="form-control" name="claveNuevaRepetida" id="claveNuevaRepetida"
               formControlName="claveNuevaRepetida" />
      </div>

      <div class="button-form mt-4">
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary"  title="Confirmar">
          &nbsp;Confirmar
        </button>
      </div>
    </div>
  </form>

</div>
