<div class="container">
    <h2>
        <button [routerLink]="['new']" class="btn btn-primary btn-icon" title="Dar de Alta un Usuario" type="button">
            <fa-icon icon="plus"></fa-icon>
        </button>
        Usuarios
    </h2>
    <div class="card">
        <form (ngSubmit)="onFilter()" [formGroup]="myForm" class="form-filter" name="myForm" novalidate role="form">
            <fa-icon (click)="collapsedFilter = !collapsedFilter" *ngIf="collapsedFilter" class="pointer filter-icon"
                     icon="chevron-up">
            </fa-icon>
            <fa-icon (click)="collapsedFilter = !collapsedFilter" *ngIf="!collapsedFilter" class="pointer filter-icon"
                     icon="chevron-down">
            </fa-icon>
            <ng-container *ngIf="!collapsedFilter">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-label" for="usuario">Usuario</label>
                        <input class="form-control" formControlName="usuario" id="usuario" name="usuario" type="text">
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label" for="rol">Rol</label>
                        <select class="form-select" formControlName="rol" id="rol" name="rol">
                            <option [selected]="true" value="">Seleccione</option>
                            <option *ngFor="let r of roles" value={{r}}>{{r}}</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="verInactivos">Inactivos</label>
                            <input class="form-check-input" formControlName="verInactivos" id="verInactivos"
                                   name="verInactivos"
                                   type="checkbox">
                        </div>
                    </div>
                </div>
                <div class="button-form-filter">
                    <button (click)="clearFilter()" class="btn btn-secondary" title="Limpiar" type="button">
                        <fa-icon icon="broom"></fa-icon>&nbsp;Limpiar
                    </button>
                    <button [disabled]="loading" class="btn btn-primary" title="Filtrar" type="submit">
                        <fa-icon icon="filter"></fa-icon>&nbsp;Filtrar
                    </button>
                </div>
            </ng-container>
        </form>
    </div>
    <ngx-datatable
            (page)="setPage($event)"
            (sort)="onSort($event)"
            [columnMode]="'force'"
            [count]="page.totalElements"
            [externalPaging]="true"
            [externalSorting]="true"
            [footerHeight]="50"
            [headerHeight]="50"
            [limit]="page.size"
            [loadingIndicator]="loading"
            [offset]="page.offset"
            [rows]="rows"
            class="material striped"
            rowHeight="auto"
    >
        <ngx-datatable-column name="Usuario" prop="usuario"></ngx-datatable-column>
        <ngx-datatable-column name="Rol" prop="rol"></ngx-datatable-column>
        <ngx-datatable-column name="Activo" prop="activo">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <fa-icon *ngIf="value" class="text-success" icon="check-square"></fa-icon>
                <fa-icon *ngIf="!value" class="text-danger" icon="square"></fa-icon>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [cellClass]="'column-actions'" [sortable]="false" name="" prop="id">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <button [routerLink]="['./',value,'edit']" class="btn btn-primary" title="Editar" type="button">
                    <fa-icon icon="pencil-alt"></fa-icon>
                </button>
                <button [routerLink]="['./', value, 'view']" class="btn btn-primary" title="Ver" type="button">
                    <fa-icon icon="eye"></fa-icon>
                </button>
                <button (click)="delete(value)" class="btn btn-danger" title="Eliminar" type="button">
                    <fa-icon icon="times"></fa-icon>
                </button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
