<div class="container">
    <form name="myForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="myForm">
        <h2>Crear Cliente</h2>
        <div class="card">
            <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label required" for="apellido">Apellido</label>
                      <input type="text" class="form-control" id="apellido" name="apellido" formControlName="apellido">
                      <div  *ngIf="myForm.get('apellido')!.invalid && (myForm.get('apellido')!.dirty || myForm.get('apellido')!.touched)">
                        <small class="form-text text-danger" *ngIf="myForm.get('apellido')?.errors?.required">
                          El campo es requerido.
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label required" for="nombre">Nombre</label>
                      <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre">
                      <div  *ngIf="myForm.get('nombre')!.invalid && (myForm.get('nombre')!.dirty || myForm.get('nombre')!.touched)">
                        <small class="form-text text-danger" *ngIf="myForm.get('nombre')?.errors?.required">
                          El campo es requerido.
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label required" for="dni">DNI</label>
                        <input type="text" class="form-control" id="dni" name="dni" formControlName="dni" [readOnly]="!myForm.get('id')!.value">
                        <div  *ngIf="myForm.get('dni')!.invalid && (myForm.get('dni')!.dirty || myForm.get('dni')!.touched)">
                          <small class="form-text text-danger" *ngIf="myForm.get('dni')?.errors?.required">
                            El campo es requerido.
                          </small>
                        </div>
                      </div>
                    </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label required" for="tipo">Tipo</label>
                      <select class="form-select" name="tipo" id="tipo" formControlName="tipo" >
                        <option value="MAYORISTA">MAYORISTA</option>
                        <option value="MINORISTA">MINORISTA</option>
                      </select>
                      <div
                        *ngIf="myForm.get('tipo')!.invalid && (myForm.get('tipo')!.dirty || myForm.get('tipo')!.touched)">
                        <small class="form-text text-danger" *ngIf="myForm.get('tipo')?.errors?.required">
                          El campo es requerido.
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="telefono">Teléfono</label>
                      <input type="text" class="form-control" id="telefono" name="telefono" formControlName="telefono">
                    </div>
                  </div>
            </div>

            <div class="button-form mt-4">
                <button type="button" class="btn btn-secondary" (click)="cancel()" title="Cancelar">
                    <fa-icon icon="ban"></fa-icon>&nbsp;Cancelar
                </button>
                <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary" title="Guardar">
                    <fa-icon icon="save"></fa-icon>&nbsp;Guardar
                </button>
            </div>
        </div>
    </form>
</div>