<div class="container">
    <form (ngSubmit)="save()" [formGroup]="myForm" name="myForm" novalidate role="form">
        <h2>Crear Cliente</h2>
        <div class="card">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label required" for="apellido">Apellido</label>
                        <input class="form-control" formControlName="apellido" id="apellido" name="apellido"
                               type="text">
                        <div *ngIf="myForm.get('apellido')!.invalid && (myForm.get('apellido')!.dirty || myForm.get('apellido')!.touched)">
                            <small *ngIf="myForm.get('apellido')?.errors?.required" class="form-text text-danger">
                                El campo es requerido.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label required" for="nombre">Nombre</label>
                        <input class="form-control" formControlName="nombre" id="nombre" name="nombre" type="text">
                        <div *ngIf="myForm.get('nombre')!.invalid && (myForm.get('nombre')!.dirty || myForm.get('nombre')!.touched)">
                            <small *ngIf="myForm.get('nombre')?.errors?.required" class="form-text text-danger">
                                El campo es requerido.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label required" for="dni">DNI</label>
                        <input [readOnly]="!myForm.get('id')!.value" class="form-control" formControlName="dni" id="dni"
                               name="dni"
                               type="text">
                        <div *ngIf="myForm.get('dni')!.invalid && (myForm.get('dni')!.dirty || myForm.get('dni')!.touched)">
                            <small *ngIf="myForm.get('dni')?.errors?.required" class="form-text text-danger">
                                El campo es requerido.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label required" for="tipo">Tipo</label>
                        <select class="form-select" formControlName="tipo" id="tipo" name="tipo">
                            <option value="MAYORISTA">MAYORISTA</option>
                            <option value="MINORISTA">MINORISTA</option>
                        </select>
                        <div
                                *ngIf="myForm.get('tipo')!.invalid && (myForm.get('tipo')!.dirty || myForm.get('tipo')!.touched)">
                            <small *ngIf="myForm.get('tipo')?.errors?.required" class="form-text text-danger">
                                El campo es requerido.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="telefono">Teléfono</label>
                        <input class="form-control" formControlName="telefono" id="telefono" name="telefono"
                               type="text">
                    </div>
                </div>
            </div>

            <div class="button-form mt-4">
                <button (click)="cancel()" class="btn btn-secondary" title="Cancelar" type="button">
                    <fa-icon icon="ban"></fa-icon>&nbsp;Cancelar
                </button>
                <button [disabled]="myForm.invalid" class="btn btn-primary" title="Guardar" type="submit">
                    <fa-icon icon="save"></fa-icon>&nbsp;Guardar
                </button>
            </div>
        </div>
    </form>
</div>
