<div class="container">
    <h2>Detalle</h2>
    <div class="card">
        <dl *ngIf="cliente">
            <dt>Dni</dt>
            <dd>{{cliente.dni}}</dd>
            <dt>Nombre</dt>
            <dd>{{cliente.nombre}}</dd>
            <dt>Apelido</dt>
            <dd>{{cliente.apellido}}</dd>
            <dt>Telefono</dt>
            <dd>{{cliente.telefono}}</dd>
            <dt>direcion</dt>
            <dd>{{cliente.direccion}}</dd>
            <dt>Tipo de Cliente</dt>
            <dd *ngIf="cliente.tipo === 'MAYORISTA'">MAYORISTA</dd>
            <dd *ngIf="cliente.tipo === 'MINORISTA'">MINORISTA</dd>
        </dl>
        <div class="button-form">
            <button (click)="previousState()" class="btn btn-secondary" title="Volver" type="button">
                <fa-icon icon="arrow-left"></fa-icon>
                Volver
            </button>
            <button [routerLink]="['../../', cliente?.dni, 'edit']" class="btn btn-primary" title="Editar"
                    type="button">
                <fa-icon icon="pencil-alt"></fa-icon>
                Editar
            </button>
            <button (click)="delete(cliente.dni)" class="btn btn-danger" title="Eliminar" type="button">
                <fa-icon icon="times"></fa-icon>
                Eliminar
            </button>
        </div>
    </div>
</div>
