<nav class="navbar navbar-expand-lg navbar-light bg-white mb-2" style="border-bottom: 0.1rem solid grey;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/assets/images/icon-32x32.png" alt="image"> Mi Negocio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/categorias-productos">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/proveedores">Proveedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clientes">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ventas">Ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuarios">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cuenta/cambiarclave">Cambiar Clave</a>
        </li>
        <li class="nav-item dropdown">
          <div class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <fa-icon icon="alien"></fa-icon>
            {{ user?.usuario }}
          </div>
          <div class="dropdown-menu dropdown-menu-right mt-0" aria-labelledby="navbarDropdown">
            <small class="dropdown-item text-muted disabled">({{ user?.usuario }})</small>
            <a class="dropdown-item" href="/cuenta/cambiarclave">Cambiar Contraseña</a>
            <a class="dropdown-item" href="#" (click)="logOut()">Cerrar Sesión</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
