.navbar-light .navbar-nav .nav-link {
  color: #0566dfb8;
}

.navbar-brand {
  color: #0d384f;
}

.navbar-brand:hover {
  color: #0d384f;
}

a:hover{
  font-weight: bold;
}

.form-select:hover{
  font-weight: bold;
  border: 1px solid black;
}
