<div class="container-fluid home-container">

</div>
<div class="saludo">
    <h1 class="display-3">¡Bienvenido a Radeon Business!</h1>
    <h2>Un lugar para crecer y potenciar tu desarrollo personal con tus compañeros.</h2>
</div>

<div class="row d-flex justify-content-around perfil">
    <div class="col-lg-3 foto">
        <img alt="Generic placeholder image" class="rounded-circle" height="140" src="/assets/images/foto%20perfil.jpg"
            width="140">
        <h2>Pablo Nardi</h2>
        <p>Desarrollador y Estudiante de la UTN FRRo...</p>
        <br>
        <p>I'm the one who knock</p>
    </div>
    <div class="col-lg-3 foto">
        <img alt="Generic placeholder image" class="rounded-circle" height="140"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="140">
        <h2>Heading</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
            consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh.</p>
    </div>

</div>