<div class="container-fluid home-container">
    <img alt="palo" class="img-fluid home-img" src="/assets/images/fondo.jpg">
</div>
<div>
    <h1 class="display-3">Bienbenido a Radeon Business!</h1>
    <p>Un lugar para crecer y potenciar tu desarrollo personal con tus compañeros.</p>
</div>
<!-- Three columns of text below the carousel -->
<div class="row d-flex justify-content-around">
    <div class="col-lg-3 foto">
        <img alt="Generic placeholder image" class="rounded-circle" height="140" src="/assets/images/foto%20perfil.jpg"
             width="140">
        <h2>Pablo Nardi</h2>
        <p>Desarrollador y Estudiante de la UTN FRRo...</p>
        <br>
        <p>I'm the one who knock</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 foto">
        <img alt="Generic placeholder image"
             class="rounded-circle"
             height="140" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             width="140">
        <h2>Heading</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
            consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

</div><!-- /.row -->

