button {
  width: 70%;
  font-size: xx-large;
}

.row {
  text-align: center;
}

.home-container {

  height: 500px;
  width: 95%;

}

.foto {
  background-color: cornflowerblue;
  margin: 0 5px;
}

.userSquare {
  border-width: 1px;
  border-style: solid;
  border-color: black;

}

.home-img {
  height: 100%;
}
